<template name="about">
	<div class="container">
		<div class="row"> 
			<div class="col-xs-6">        
				<h2>About</h2>
				<p>
				This website is about finding multipurpose uses for natural household items in order to minimize waste.
				</p>
			</div>
			<div class="col-xs-6">
			<h2>Get Started</h2>
				<p>
				Start your search by using "baking soda" or "vinegar".
				</p>
				<p>
				 You can sign in by creating your own user account or use:
				 <ul>
					 <li>guy@test.com and password: test123</li>
					 <li>girl@test.com and password: test123</li>
				 </ul>
				</p>
			</div>
		</div>
	</div>
</template>