<!-- Add New Item Form -->
<template name="addNewItem">
    <button class="btn btn-primary js-open-form">Add New Item</button>
    <div class="newitem-form">
        <form class="newItem">
            <label>Item Name: </label><input type='text' placeholder="Type Item Name Here">
            <label>Description: </label><input type='text' placeholder="Type Item Description Here">
             <label>Image URL: </label><input type='text' placeholder="Add Image URL Here">
        </form>
        <button class="btn btn-success js-submit-form">Submit</button>
    </div>
</template>