<head>
    <title>Multipurpose Living</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
</head>

<body>

<!-- Latest compiled and minified jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
<!-- this is the main template used by iron:router to build the page -->
<template name="ApplicationLayout">
    <header>
        {{> yield "header"}}
    </header>
    <nav>
        {{> yield "nav"}}
    </nav>
    <div class="container-fluid">
        <div row>
            <div>
                {{> yield "metadata"}}
            </div>
            <div>
                {{> yield "main"}}
            </div>
            <div>
                {{> yield "results"}}
            </div>
            <footer>
                {{> yield "footer"}}
            </footer>
        </div>
    </div>
</template>
