@import 'colors.less';
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    /*margin-bottom: 60px;*/
    a,
    p {
        color: @coral;
    }
    // override login button.less
    a {
        text-decoration: none !important;
    }
    a:hover {
        color: darkgray;
    }
    .glyphicon-info-sign {
        font-size: 1.5em;
        color: @coral;
    }
    h1 {
        font-family: 'Raleway', serif;
    }
    .js-info-popout {
        padding: 10px;
        float: left;
    }
    .description {
        position: absolute;
        width: 200px;
        height: 200px;
        align: left;
        padding: 10px;
        margin-top: 40px;
        display: none;
        border-radius: 5px;
        float: left;
        border: 1px solid #ddd;
        background-color: white;
        font-size: 15px;
    }
    .navbar {
        border-bottom: 10px solid @litgray;
        .navbar-right {
            margin-right: 10px;
        }
        .glyphicon {
            color: @coral;
        }
    }

    input {
        width: 80%;
        height: 60px;
        font-size: 20px;
        padding: 5px;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid #ddd;
        display: block;
        outline: none;
        margin: 0 auto;
    }
    .loginBtn {
        padding: 10px;
    }
}

.searchBar {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    tr {
        width: 80%;
    }
}

.resultspage {
    padding: 10px;
    th {
        color: @coral;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 5px;
    }
}

footer {
    background-color: @litgray;
    text-align: center;
    padding: 15px;
}
