@import 'colors.less';
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    /*margin-bottom: 60px;*/
    a {
        color: @coral;
    }
    p {
        color: black;
    }
    a:hover {
        text-decoration: none;
    }
    h1 {
        font-family: 'Raleway', serif;
    }
    

    input {
        width: 80%;
        height: 60px;
        font-size: 30px;
        color: @coral;
        padding: 5px;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid #ddd;
        display: block;
        outline: none;
        margin: 0 auto;
    }

    .jumbotron {
        margin: 20px auto;
        width: 80%;
        h1 {
            font-size: 25px;
            text-align: center;
        }
        span {
            color: red;
        }
    }
    .info-divs {
        margin: 20px;
        padding: 10px;
        // .results {
        //     text-align: center;
        //     background-color: #ddd;
        //     margin: 10px auto 0px auto;
        //     width: 80%;
        // }

        .addData {
            text-align: center;
            button {
                margin: 0 auto;
                margin-bottom: 10px;
            }
        }

        .open-button {
            color: yellow!important;
        }

        .newitem-form {
            text-align: left;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            margin: 5px auto;
            width: 85%;
            display: none;
            input {
                width: 90%;
                height: 50px;
                padding: 5px;
                font-size: 12px;
            }
            label {
                font-size: 12px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        .js-submit-form {
            margin-top: 10px;
        }
    }

}

// profile page

.img_user {
    width: 300px;
    height: 300px;
    margin: 30px 20px;
    border: 1px solid @litgray;
    padding: 10px;
}



 // login button
    #login-buttons {
        padding: 10px;
        margin: 10px;  
        a {
            text-decoration: none;
        }  
    }

 img.profile_img {
        width: 30px;
        height: 30px;
    }





// Search Results //


.searchBar {
    text-align: center;
}

.itemsListView {
    border-top: 5px solid @babyblue;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 60px;
    p {
        color: black!important;
    }
}

// Items Page //

.description {
    font-size: 1.25em;
    padding: 0;
    margin: 0;
}

.itemDesc {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 60px;
}

button.btn-home {
    border-radius: 8px;
    font-size: 16px;
    &:hover {
        color: black;
    }
}

.commentDiv {
    margin-bottom: 60px;
}

.item-image {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
}


// FOOTER //

footer {
    background-color: @litgray;
    text-align: center;
    padding: 15px;
}
